<!DOCTYPE html>
<!--
// OTAgo
// - OTA App Distribution System
// - https://github.com/DaveWoodCom/OTAgo
// - Copyright 2020 Dave Wood, Cerebral Gardens Inc.
-->
<html>
<head>
	<title>OTAgo Installation Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="styles/styles.css" />
</head>
<body>
	<div id="page">
		<div class="header">
			<div class="headerTop">
				&nbsp;
			</div>
			<div class="headerBottom">
				<div class="otagoTitle vertical-center"><p><a href="/">OTAgo Installation Demo</a></p></div>
			</div>
			<div class="headerKeyline"></div>
		</div>

		<div class="appTitle">
			<p>Install `My App`</p>
		</div>

		<div class="appIntro">
			<div class="logo">
				<div class="appIconContainer">
					<a href="{{InstallURL}}"><img src="images/1024.png" width="128" height="128" alt="" class="appIcon" /></a>
				</div>
			</div>
			<p>
				This is the protected install page for `My App`. In order to view this page, the visitor will have had to be authorized by whichever auth system you've enabled in the configuration. The initial release of OTAgo includes a `simpleAuth` option that allows you to supply a list of username/password pairs. As well as a `noAuth` option that lets everyone through the door.
			</p>
			<p>
				A future version of this project may allow users to select which build of the app to install, in case you need users to be able to install older versions for regression testing etc. Feel free to submit a pull request with this feature. 😁 (Ideally this feature would read build information from a .json file that could be automatically updated by a CI/CD system.
			</p>
			<div class="actionButton">
				<br />
				<a href="{{InstallURL}}">Install</a>
			</div>
			<p>
				<br />
				<br />
			</p>
		</div>

		<br />
		<br />
		<br />
		<br />
		
		<div class="pageBottom">
			<div class="pageFooter">
				<span class="pageFooterText vertical-center">OTAgo: <a href="https://github.com/DaveWoodCom/OTAgo" target="_blank">View on GitHub</a></span>
				<span class="footerCopyright vertical-center">&copy;2020 Dave Wood</span>
			</div>		
		</div>
	</div>	
</body>
</html>
