<!DOCTYPE html>
<!--
// OTAgo
// - OTA App Distribution System
// - https://github.com/DaveWoodCom/OTAgo
// - Copyright 2020 Dave Wood, Cerebral Gardens Inc.
-->
<html>
<head>
	<title>OTAgo Installation Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="styles/styles.css" />
</head>
<body>
	<div id="page">
		<div class="header">
			<div class="headerTop">
				&nbsp;
			</div>
			<div class="headerBottom">
				<div class="otagoTitle vertical-center"><p>OTAgo Installation Demo</p></div>
			</div>
			<div class="headerKeyline"></div>
		</div>

		<div class="appTitle">
			<p>My App</p>
		</div>

		<div class="appIntro">
			<div class="logo">
				<div class="appIconContainer">
					<a href="{{InstallURL}}"><img src="images/1024.png" width="256" height="256" alt="" class="appIcon" /></a>
				</div>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel neque non sapien accumsan vulputate sed ac dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean sollicitudin aliquet odio.
			</p>
			<p>
				In nisl nisi, congue quis tincidunt non, pellentesque non tortor. Aenean feugiat id magna ut posuere. Praesent porta ut velit eu tristique. Nunc pellentesque mi vel nulla fringilla pharetra.
			</p>
			<p>
				Praesent vel urna ac magna luctus dapibus vel facilisis ligula. Vestibulum efficitur, lectus nec fringilla ultricies, purus nibh volutpat neque, a luctus massa purus eget lorem. In hac habitasse platea dictumst.
			</p>
			<p>
				Mauris egestas sapien accumsan, fringilla urna sed, dignissim eros. Nunc congue laoreet elementum. In blandit lacus eget elit convallis elementum. Proin sit amet luctus odio, non placerat est. Vestibulum in velit nec turpis efficitur blandit ac non metus.
			</p>
			<p>
				Morbi dignissim odio ac posuere consectetur. Praesent efficitur semper metus, eu varius ligula egestas vitae. Suspendisse sem lacus, porta sit amet sapien vestibulum, finibus mattis odio.
			</p>
			<div class="actionButton">
				<br />
				<a href="{{InstallURL}}">Install</a>
			</div>
			<p>
				<br />
				<br />
			</p>
		</div>

		<br />
		<br />
		<br />
		<br />
		
		<div class="pageBottom">
			<div class="pageFooter">
				<span class="pageFooterText vertical-center">OTAgo: <a href="https://github.com/DaveWoodCom/OTAgo" target="_blank">View on GitHub</a></span>
				<span class="footerCopyright vertical-center">&copy;2020 Dave Wood</span>
			</div>		
		</div>
	</div>	
</body>
</html>
